
html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0
}
.green{
	color: #38c5b4;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

html {
	width: 100%;
	height: 100%;
	font-family: "微软雅黑" !important;
}

body{ 	
	font-family: "微软雅黑" !important;
	width: 100%;
	height: 100%;
	background: #49939e;
	
} 
:root body{filter:none;} 

/*
body {
	font-family: "微软雅黑" !important;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, #5cc29d 0%, #558ab2 100%);
	background: -webkit-linear-gradient(top, #5cc29d 0%, #558ab2 100%);
	background: -o-linear-gradient(top, #5cc29d 0%, #558ab2 100%);
	background: -ms-linear-gradient(top, #5cc29d 0%, #558ab2 100%);
	background: linear-gradient(to bottom, #5cc29d 0%, #558ab2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc29d', endColorstr='#558ab2',GradientType=0 );
}*/

.mui-control-item {
	display: block !important;
	width: 160px !important;
	height: 160px !important;
	background: #50cda5;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin-top: 30px;
}

#sliderSegmentedControl .mui-active {
	background: #feac1c !important;
}

.mui-control-item img {
	border-radius: 50%;
	margin-top: 20px;
}

.mui-control-content {
	min-height: 250px;
}


#sliderSegmentedControl {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

.mui-slider-item{
	padding: 0px 0px 40px;		
	border-bottom:none !important;
	
	top: 0px;
	background: rgba(0,0,0,.1);
	margin-top: 0px;
	height: 400px;
}
.content{
	padding: 0px;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	display: none;
}

.mui-slide-textarea{
border: none;
min-height: 250px;
text-align:left;font-size: 25px;color: #e6ce48;
line-height: 30px; background: none; width: 100%;overflow:auto;}

textarea::-webkit-input-placeholder{color:#e6ce48}    /* 使用webkit内核的浏览器 */
textarea:-moz-placeholder{color:#e6ce48}                  /* Firefox版本4-18 */
textarea::-moz-placeholder{color:#e6ce48}                  /* Firefox版本19+ */
textarea:-ms-input-placeholder{color:#e6ce48} 
.table{margin: 0 auto;}
.table-td{width: 200px; text-align: center; vertical-align: middle;}
